@font-face {
    font-family: aoki;
    src: url(Fonts/Aoki/Webfonts/Aoki\ Light.woff2);

}
@font-face {
    font-family: aoki_reg;
    src: url(Fonts/Aoki/Webfonts/Aoki\ Regular.woff2);
}
@font-face {
    font-family: Centauri;
    src: url(Fonts/Sci+Fi+Bundle/Webfonts/Centauri.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');

body {
    background-color: #151515;
}
h1 {
    font-family: "aoki_reg", "exo 2";
    font-size: 60px;
    color: white;
}
h2{
    font-family: "aoki", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
h3 {
    font-family: "aoki", "exo 2";
    font-size: 40px;
    color: white;
}

h4 {
    font-family: "exo 2", sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #c4c4c4;
}
h5 {
    font-family: "aoki_reg", "exo 2";
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
h6 {
    font-family: "exo 2", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.hero_content {
    display: flex;
}
.hero_cubes {
    background-image: url(Images/Cube_BG_HERO.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    height: auto;
}
.hero_image {
    display: flex;
    align-items: flex-start;
    width: 40%;
    height: auto;
    float: right;

}
.logo_name {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 337px;
    padding-left: 135px;
    justify-content: space-between;
    background: none;
}
.titles {
    padding-left: 25px;
    font-family: "aoki", sans-serif;
    font-weight: 100 !important;
}


.nav {
    max-width: 100%;
    display: flex;
    background-color: #151515;
    padding: 20px;         
    justify-content: space-around;
    position: sticky;
    top: 0px;
    bottom: 0px;
  
}
.left, .center, .right {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.nav a {
    text-decoration: none;
    font-family: "aoki";
    font-weight: 100;
    font-size: 16px;
    padding: 20px;
    color: #d0d0d0;
}

.logo {
    padding: 0 20px;
    width: 40px;
    height: 54px;
}
button {
    font-family: "aoki_reg", sans-serif;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #151515;
    border-color: white;
    border-style: solid;
    color: white;
    
}
.hero_buttons {
    padding-top: 72px;
}
.cube1 {
    display: flex;
    width: 33%;
    height: auto;

}
.cube2 {
    display: flex;
    width: 33%;
    height: auto;

}
.cube3 {
    display: flex;
    width: 33%;
    height: auto;

}
.wannado {
    display: flex;
    margin-top: 265px;
    margin-left: 160px;
    margin-right: 160px;
    width: 50%;
    height: auto;
    align-items: center;
}
.wannado_text {
    width: 50%;
    height: auto;
    margin-left: 135px;
    align-content: flex;
    
}
.swallow {
    display: flex;
    margin-top: 216px;
    margin-left: 160px;
    margin-right: 160px;
    width: 50%;
    height: auto;
    align-items: center;
}
.swallow_text {
    width: 50%;
    height: auto;
    margin-left: 160px;
    margin-right: 135px;
    align-content: flex;
    order: -1;
    
}
.fcc {
    display: flex;
    margin-top: 265px;
    margin-left: 160px;
    margin-right: 160px;
    width: 50%;
    height: auto;
    align-items: center;
}
.fcc_text {
    width: 50%;
    height: auto;
    margin-left: 216px;
    align-content: flex;
    
}
.footer {
    display: flex;
    flex-direction: column;
    background-image: url(Images/footer_cubes.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 208px;
}
.footer_logo {
    display: flex;
    align-self: center;
    width: 238px;
    height: 321px;
    
}
.footer_contact {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.footer_social {
    display: flex;
    flex-flow: column;
    align-items: center;
}
